<div class="row">
  <div class="col-md-3">
    <a href="http://www.hillsboroughcounty.org/en/residents/property-owners-and-renters/trash-and-recycling/what-can-i-recycle" target="_blank">
      <img alt="Hillsborough County" src="{{ '/assets/images/partner-logos/hillsCo.png' | prepend: site.baseurl }}">
    </a>
  </div>
  <div class="col-md-3">
    <a href="https://www.tampagov.net/solid-waste/programs/recycling-and-waste-reduction" target="_blank">
      <img alt="City of Tampa" src="{{ '/assets/images/partner-logos/COT%20logo%20blue.png' | prepend: site.baseurl }}">
    </a>
  </div>
  <div class="col-md-3">
    <a href="http://www.pinellascounty.org/solidwaste/recycle.htm" target="_blank">
      <img alt="Pinellas County" src="{{ '/assets/images/partner-logos/SW_3pmsc.png' | prepend: site.baseurl }}">
    </a>
  </div>
  <div class="col-md-3">
    <a href="http://www.stpete.org/recycling" target="_blank">
      <img alt="Client Logo" src="{{ '/assets/images/partner-logos/StPetersburg%20Logo%20Full%20Color.png' | prepend: site.baseurl }}">
    </a>
  </div>
</div>
