<ul class="nav nav-tabs text-center" id="myTab" role="tablist">
  {% for post in filtered_posts %}
  <li class="{% if forloop.index == 1 %}active{% endif %}">
    <a data-toggle="tab" href="#tab{{ forloop.index }}" role="tab">

      {% if forloop.index == 1 %}
      {{ site.data.i18n[page.locale].feature_topic_text }}
      {% else %}
      {{ post.title }}
      {% endif %}

    </a>
  </li>
  {% endfor %}
</ul>

<div class="tab-content">

  {% for post in filtered_posts %}
  <div class="tab-pane fade {% if forloop.index == 1 %}in active{% endif %}" id="tab{{ forloop.index }}">

    {{ post.content }}

  </div>
  {% endfor %}

</div>
