<!DOCTYPE html>
<html lang="en" style="height:100%;">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27684456-4"></script>
  <script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-27684456-4');
  </script>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
      {{ site.data.i18n[page.locale].site_title }}
  </title>

  <!-- Core CSS -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
  <link href="{{ '/assets/bootstrap/css/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ '/assets/css/font-awesome.min.css' | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ '/assets/css/style-library-1.css' | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ '/assets/css/blocks.css' | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ '/assets/css/custom.css' | prepend: site.baseurl }}" rel="stylesheet">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body data-spy="scroll" data-target="nav">

  <header class="soft-scroll header-3" id="header-3" data-baseurl="{{ site.baseurl }}" data-images='{{ site.data.carousel.images | jsonify }}'>
    <section class="hero">
      <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="editContent">
            <h1>
              <img src="{{ '/assets/images/brand/recycleLogo.png' | prepend: site.baseurl }}" class="img-responsive center-block">
                {{ site.data.i18n[page.locale].site_title }}
            </h1>
          </div>
          <div class="editContent">
            <p class="lead">
              {{ site.data.i18n[page.locale].jumbo_text }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </header>

  <section class="content-1-7 content-block" id="content-1-7">
    <div class="container">

      {% include gov-logos.html %}

      <div class="row center-block" id="lead-text">
        <div class="col-md-10 col-md-offset-1 text-left">

          {{ site.data.i18n[page.locale].intro_text | markdownify }}

        </div>
      </div>
      <div class="row" id="pull-quote">
        <div class="col-md-8 col-md-offset-2">
          <blockquote id="lead">
            {{ site.data.i18n[page.locale].intro_quote }}
          </blockquote>
        </div>
      </div>
    </div><!-- /.container -->
  </section>

  <section class="content-block content-1-8">
    <div class="container">

      {% assign filtered_posts = site.posts | where: 'lang', page.locale  %}
      {% include tabs.html %}

    </div><!-- /.container -->
  </section>

  {{ content }}

  <footer class="content-block-nopad bg-deepocean footer-wrap-1-2">
    <div class="container footer-1-2">
      <img class="img-responsive center-block" src="{{ '/assets/images/brand/recycleLogo.png' | prepend: site.baseurl }}">
      <p class="text-center">&copy; {{ site.data.i18n[page.locale].site_title }}, 2017</p>
      <p class="text-center">
        <a href="{{ site.data.i18n[page.locale].translate_link | prepend: site.baseurl }}" class="text-danger">{{ site.data.i18n[page.locale].translate_text }}</a>
      </p>
    </div>
  </footer>

  <script src="{{ '/assets/js/jquery-1.11.1.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ '/assets/bootstrap/js/bootstrap.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/hero-carousel.js' | prepend: site.baseurl }}" type="text/javascript"></script>
</body>
</html>
